@import "bootstrap.less";

body{
  background-color: #c0c0c0;
  text-align: center;
}

body > .container{
  width: auto;
  margin-bottom: 10px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.lane{
  float: left;
  display: inline-block;
  border-style: solid;
  border-color: transparent;
}

.meme{

  .btn;
  margin-top: 1em;
  margin-bottom: 0em;
  padding: 0;
  display: block;

  .content{
    margin: 0.5em;

    h3.name{
      font-size: 32pt;
      color: #000;
    }

    .biography{
      margin-top: 0.5em;
      margin-left: 1em;
      margin-right: 1em;
      font-size: 14pt;
      text-align: justify;
    }


    img.share{
      .btn;
      background-color: transparent;
      &:active{
        .btn;
      }
    }
  }
}
