@import "bootstrap.less";

.container{
  width: 100%;
  margin-bottom: 10px;
}

.lane{
//  float: left;
  display: inline-block;
  border-style: solid;
  border-color: transparent;
}

.meme{

  .btn;
  margin-top: 1em;
  margin-bottom: 0em;
  padding: 0;
  display: block;


  .content{
    margin: 0.5em;

    .biography{
      margin-top: 0.5em;
    }
  }
}